.insulter {
  background-color: #e8e8e8;
}

.inner-insulter {
  display: flex;
  .photo {
    flex: 0 0 30%;
    img {
      width: 15em;
      height: 15em;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: right;
  justify-content: space-between;
}

.insult {
  width: 50%;
  font-style: italic;
  text-align: left;
}

.again {
  height: 30%;
  max-height: 50px;
}

.btn {
  font-size: 100%;
  height: 100%;
  border-radius: 0.6rem;
  color: black;
  border-color: rgb(88, 88, 88);
  background-color: white;
}
.btn:hover {
  color: white;
  border-color: transparent;
  background-color: rgb(88, 88, 88);
  transition: 0.25s;
}
